<a href="https://colab.research.google.com/github/leureva/mbd-data-mining/blob/main/Activity8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression

In [18]:
path = "https://raw.githubusercontent.com/tec03/Datasets/main/datasets/census.csv"

In [52]:
df = pd.read_csv(path)
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [53]:
alabama_df = df[df['STNAME'] == 'Alabama']

In [55]:
avg_deaths_2015 = alabama_df['DEATHS2015'].mean()
avg_deaths_2015

1480.2941176470588

In [57]:
median_int_mig_2011 = df['INTERNATIONALMIG2011'].median()
df['Residue'] = df['INTERNATIONALMIG2011'] - median_int_mig_2011
median_residues_by_state = df.groupby('STNAME')['Residue'].median()

In [58]:
median_residues_by_state

STNAME
Alabama                    7.0
Alaska                     3.0
Arizona                   91.0
Arkansas                  -7.0
California               370.0
Colorado                   0.0
Connecticut             1022.0
Delaware                 953.5
District of Columbia    3340.0
Florida                  158.0
Georgia                    0.0
Hawaii                   628.5
Idaho                     -6.0
Illinois                  -2.0
Indiana                   -1.0
Iowa                      -6.0
Kansas                    -9.0
Kentucky                  -8.0
Louisiana                  4.0
Maine                     17.0
Maryland                 119.0
Massachusetts           1187.0
Michigan                   1.5
Minnesota                 -0.5
Mississippi               -9.0
Missouri                  -7.0
Montana                  -10.0
Nebraska                 -10.0
Nevada                     6.5
New Hampshire            128.0
New Jersey              1507.0
New Mexico                 5.0
New York                  96.0
North Carolina            20.0
North Dakota             -10.0
Ohio                       8.0
Oklahoma                  -4.5
Oregon                     9.0
Pennsylvania              25.5
Rhode Island             152.5
South Carolina            17.0
South Dakota              -9.0
Tennessee                 -2.0
Texas                      2.0
Utah                       1.0
Vermont                    2.0
Virginia                   3.0
Washington                55.0
West Virginia             -7.0
Wisconsin                  2.0
Wyoming                   -3.0
Name: Residue, dtype: float64

In [59]:
iqr_residues_by_state = df.groupby('STNAME')['Residue'].apply(pd.Series.quantile, q=0.75) - df.groupby('STNAME')['Residue'].apply(pd.Series.quantile, q=0.25)

In [60]:
iqr_residues_by_state

STNAME
Alabama                   50.00
Alaska                    34.75
Arizona                  514.50
Arkansas                  17.00
California              1638.00
Colorado                  51.00
Connecticut             4164.00
Delaware                1345.50
District of Columbia       0.00
Florida                  894.50
Georgia                   43.00
Hawaii                  3607.75
Idaho                     28.00
Illinois                  28.50
Indiana                   42.00
Iowa                      16.25
Kansas                    12.00
Kentucky                  13.00
Louisiana                 75.00
Maine                     58.00
Maryland                 968.00
Massachusetts           3250.50
Michigan                  60.75
Minnesota                 37.50
Mississippi               20.50
Missouri                  23.25
Montana                    7.00
Nebraska                   5.75
Nevada                    34.25
New Hampshire            178.50
New Jersey              3545.50
New Mexico                54.75
New York                 715.00
North Carolina            88.00
North Dakota               4.00
Ohio                      72.00
Oklahoma                  18.00
Oregon                    37.00
Pennsylvania             436.25
Rhode Island            2516.50
South Carolina           149.00
South Dakota               9.50
Tennessee                 34.75
Texas                     40.50
Utah                      43.00
Vermont                   19.00
Virginia                  80.00
Washington               196.25
West Virginia             12.00
Wisconsin                 45.00
Wyoming                   28.00
Name: Residue, dtype: float64